obj/
bin/
target/
*.out
*.BASE*
*.LOCAL*
*.REMOTE*
*.sln.cache
Artifacts/
*.sdps
*.suo
*.ncb
*.user
TickZoomPublic/Platform/Engine
TickZoom.config
*.ReSharper.user
*.ReSharper
_ReSharper*/
*.patch
*.pidb